
.alertBarContainer{
    z-index: 30;
    width: 600px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    // background-color: hwb(0 11% 4% / 0.905);
    padding: 20px;
    background-color: white;
    visibility: hidden;
    transform: translateX(300px);
    transition: transform 300ms ease-out, visibility 300ms;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 33px 5px rgba(201,201,201,1);
    -moz-box-shadow: 0px 0px 33px 5px rgba(201,201,201,1);
    box-shadow: 0px 0px 33px 5px rgba(201,201,201,1);

    .divider{
        display: flex;
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, rgb(224, 225, 226) 49.52%, rgba(224, 225, 226, 0) 100%);
    }

    .systemDetails{
        display: grid;
        height: 50px;
        grid-template-columns: auto auto;
        margin-bottom: 20px;
        margin-top: 5px;
        align-items: center;

        img{
            width: 50px;
            height: 50px;
            border-radius: 16px;
            padding: 2px;
            background-color: white;
        }

        p{
            margin-left: 20px;
            font-size: 16px;
            font-weight: 500;
            text-align: start;
            max-lines: 3;
            max-height: 70px;
            overflow: hidden;
        }
    }
}

.show{
    transform: translateX(0px);
    transition: transform 300ms ease-out, visibility 0s;
    visibility: visible;
}

.alertBarContent{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 20px;
}

.alertBarElement{
    cursor: pointer;
    min-height: 100px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: black;
    font-size: 400;

    &:hover{
        background-color: #f2f2f2;
    }

    img{
        max-height: 50px;
        margin-right: 20px;
    }

    .name{
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .cause{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
    }

    .disease{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
    }

    .detected{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;

        span{
            font-weight: 500;
            font-style: italic;
        }
    }


}

