:root{
    --login-container-bg: #FCEEE2;
    --login-container-right-bg: #FE9850;
    --login-btn-bg: #fd8835;
    --login-form-input-border: #c7c1e5;  
    
    --admin-panel-bg: #FDF8F3;
    --nav-element-active-border: #5138ED;
}
