:root{
    --login-container-bg: #DCF3FE;
    --login-container-right-bg: #907FF4;
    --login-btn-bg: #5138ED;
    --login-form-input-border: #c7c1e5;  
    
    --admin-panel-bg: #F4F7FE;
    --nav-element-active-border: #5138ED;
}
